# Language Fundamentals :

# 1. Manipulate Using a list.

In [36]:
lst=[11,"Welcome",33.45,"Python"]

In [2]:
lst

[11, 'Welcome', 33.45, 'Python']

1. To add new elements to the end of the list.

In [10]:
lst.append(24)

In [11]:
lst

[11, 'Welcome', 33.45, 'Python', 24, 24]

In [15]:
lst2=[3,89]
lst.extend(lst2)

In [16]:
lst

[11, 'Welcome', 33.45, 'Python', 24, 24, 5, 77, 3, 89]

2. To reverse elements in the list

In [17]:
lst.reverse()
lst

[89, 3, 77, 5, 24, 24, 'Python', 33.45, 'Welcome', 11]

3. To display the same list of elements multiple times.

In [37]:
print(lst*2,end='\t')

[11, 'Welcome', 33.45, 'Python', 11, 'Welcome', 33.45, 'Python']

4. To concatenate two list

In [19]:
lst3=["Hello",4]
concate_lists=lst+lst3
concate_lists

[89, 3, 77, 5, 24, 24, 'Python', 33.45, 'Welcome', 11, 'Hello', 4]

5. To sort the elements in the list in ascending order.

In [22]:
lst4=[45,22,88,44,67,1]
lst4.sort()
lst4

[1, 22, 44, 45, 67, 88]

# 2. Write a Python Program to do in the tuples.

In [25]:
tuple =(88,22,42,2,13)
tuple

(88, 22, 42, 2, 13)

1. Manipulate using tuples

In [27]:
tuple2 = (2,44)
tuple3 = tuple + tuple2
tuple3

(88, 22, 42, 2, 13, 7, 4, 2, 44)

2. To add new elements to the end of the tuples

In [28]:
tuple = tuple + (99,66)
tuple

(88, 22, 42, 2, 13, 7, 4, 99, 66)

To reverse elements in the list

In [31]:
reversed_tuple = tuple[::-1]
reversed_tuple

(66, 99, 4, 7, 13, 2, 42, 22, 88)

To display the elements of the same tuple multiple times.

In [33]:
tuple*2

(88, 22, 42, 2, 13, 7, 4, 99, 66, 88, 22, 42, 2, 13, 7, 4, 99, 66)

To concatenate two tuples

In [34]:
tuple2 = (32,67)
tuple3 = tuple + tuple2
tuple3

(88, 22, 42, 2, 13, 7, 4, 99, 66, 32, 67)

To sort the elements in the list in ascending order.

In [40]:
sorted(tuple)

[2, 4, 7, 13, 22, 42, 66, 88, 99]

# 3. Write a python program to implement the following using list.

Create a list with integers (minimum 10 numbers)

In [43]:
my_list=[34,67,45,2,57,14,11,83,23,68,44]
my_list

[34, 67, 45, 2, 57, 14, 11, 83, 23, 68, 44]

How to display the last number in the list

In [44]:
my_list[-1::]

[44]

Command for displaying the values from the list [0:4]

In [45]:
my_list[0::4]

[34, 57, 23]

Command for displaying the values from the list [2:]

In [46]:
my_list[2::]

[45, 2, 57, 14, 11, 83, 23, 68, 44]

Command for displaying the values from the list [:6]

In [47]:
my_list[::6]

[34, 11]

# 4. Write a python program: tuple1 = (10,50,20,40,30)

In [60]:
tuple1 = (10,50,20,40,30)
tuple1

(10, 50, 20, 40, 30)

To display the elements 10 and 50 from tuple1

In [66]:
element1 = tuple1[0]
element1

10

In [67]:
element2 = tuple1[1]
element2

50

To display the length of a tuple1.

In [71]:
length = len(tuple1)
length

5

To find the minimum element from tuple1.

In [72]:
minimum = min(tuple1)
minimum

10

To add all elements in the tuple1.

In [73]:
add = sum(tuple1)
add

150

To display the same tuple1 multiple times.

In [74]:
tuple1*3

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program

In [1]:
string = "Hello everyone!"

To calculate the length of a string

In [2]:
len(string)

15

To reverse words in a string

In [4]:
rev = string[::-1]
rev

'!enoyreve olleH'

To display the same string multiple times

In [5]:
string*3

'Hello everyone!Hello everyone!Hello everyone!'

To concatenate two strings

In [8]:
string2=" How are You?"

In [9]:
new_string = string + string2
new_string

'Hello everyone! How are You?'

Str1=" South India", using string slicing to display "India"

In [12]:
Str1="South India"
Str1[6::]

'India'

# 6. Perform the Following

Creating the Dictionary.

In [13]:
my_dict = {"name": "Gurman","age": 25,"city": "Ludhiana"}

In [14]:
my_dict

{'name': 'Gurman', 'age': 25, 'city': 'Ludhiana'}

Accessing values and keys in the Dictionary.

In [15]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [16]:
my_dict.values()

dict_values(['Gurman', 25, 'Ludhiana'])

Updating the dictionary using a function.

In [18]:
def update_dictionary(my_dict):
    my_dict["age"] = 28

update_dictionary(my_dict)
my_dict

{'name': 'Gurman', 'age': 28, 'city': 'Ludhiana'}

Clear and delete the dictionary values

In [19]:
my_dict.clear()

In [20]:
my_dict

{}

# 7. Python program to insert a number to any position in a list.

In [25]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(3, 66)
my_list

[1, 2, 3, 66, 4, 5]

# 8. Python program to delete an element from a list by index.

In [26]:
del my_list[3]
my_list

[1, 2, 3, 4, 5]

# 9. Write a program to display a number from 1 to 100.

In [31]:
for i in range(1,101):
    print(i,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

# 10. Write a python program to find the sum of all items in a tuple.

In [34]:
my_tuple = (1, 2, 3, 4, 5, 6, 7)
total_sum = 0
for item in my_tuple:
    total_sum += item
print("Sum of all items in the tuple {} is {}".format(my_tuple,total_sum))

Sum of all items in the tuple (1, 2, 3, 4, 5, 6, 7) is 28

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

Is=['hello' 'Dear' 'how' 'ARe' 'You']

In [2]:
words_list = ['hello', 'Dear', 'how', 'ARe', 'You']

result_words = []

for word in words_list:
    if word[1].isupper():
        result_words.append(word)

print("Words with the second character in uppercase:")
print(result_words)

Words with the second character in uppercase:
['ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions)Formula wMoon = (wEarth * GMoon) / GEarth

#Weight of people in kg 

Weight On Earth = ['John':45, 'Shelly':65, 'Marry':35)

#Gravitational force on the Moon: 1.622 m/s2

GMoon = 1.622

#Gravitational force on the Earth: 9.81 m/s2

GEarth = 9.81

In [5]:
weight_on_earth = {'John': 45, 'Shelly': 65, 'Marry': 35}

GMoon = 1.622  
GEarth = 9.81  

weights_on_moon = list(map(lambda w: (w * GMoon) / GEarth, weight_on_earth.values()))

weight_on_moon = dict(zip(weight_on_earth.keys(), weights_on_moon))

print("Weights on the Moon:")
for name, weight in weight_on_moon.items():
    print("{}: {} kg".format(name,weight))

Weights on the Moon:
John: 7.440366972477065 kg
Shelly: 10.747196738022426 kg
Marry: 5.786952089704383 kg

# Control Structures :

# 1. Write a python program to find the first N Prime numbers.

In [10]:
def isPrime(n):
    if n <= 1:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True

N = int(input("Enter the value of 'N': "))

for i in range(2, N + 1):
    if isPrime(i):
        print(i, end=" ")

Enter the value of 'N': 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# 2. Wite the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [11]:
basic_salary = float(input("Enter Basic Salary: "))
hra = int(input("Enter HRA: "))
ta = int(input("Enter TA: "))
da = int(input("Enter DA: "))

gross_salary = basic_salary + hra + ta + da

tax = 0.10 * gross_salary

net_salary = gross_salary - tax

print("Gross Salary: {}".format(gross_salary))
print("Tax: {}".format(tax))
print("Net Salary: {}".format(net_salary))

Enter Basic Salary: 3000
Enter HRA: 3555
Enter TA: 5000
Enter DA: 2000
Gross Salary: 13555.0
Tax: 1355.5
Net Salary: 12199.5

# 3. Write a python program to search for a string in the given list.

In [15]:
string_list = ["apple", "banana", "cherry", "date", "grape"]

search_string = input("Enter the string to search for: ")

found = False

for s in string_list:
    if search_string.lower() == s.lower():
        found = True
        break

if found:
    print("The string '{}' was found in the list.".format(search_string))
else:
    print("The string '{}' was not found in the list.".format(search_string))

Enter the string to search for: date
The string 'date' was found in the list.

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [17]:
def count_upper_and_lower_case_letters(input_string):
    uppercase_count = 0
    lowercase_count = 0

    for char in input_string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return uppercase_count, lowercase_count

user_string = input("Enter a string: ")

uppercase, lowercase = count_upper_and_lower_case_letters(user_string)

print("Uppercase letters: {}".format(uppercase))
print("Lowercase letters: {}".format(lowercase))

Enter a string: HelLo
Uppercase letters: 2
Lowercase letters: 3

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [18]:
even_sum = 0
odd_sum = 0

for num in range(12, 38):
    if num % 2 == 0:
        even_sum += num 
    else:
        odd_sum += num 

print("Sum of even numbers between 12 and 37: {}".format(even_sum))
print("Sum of odd numbers between 12 and 37: {}".format(odd_sum))

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6. Write a python Program to print the table of any number.

In [20]:
num = int(input("Enter a number to print its multiplication table: "))

table_range = range(1, 11)

print("Multiplication table for {}:".format(num))
for i in table_range:
    result = num * i
    print("{} x {} = {}".format(num,i,result))

Enter a number to print its multiplication table: 4
Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# 7.Write a Python program to sum the first 10 prime numbers.

In [22]:
count_primes = 0
sum_primes = 0
num = 2 

def is_prime(n):
    if n <= 1:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True

while count_primes < 10:
    if is_prime(num):
        sum_primes += num
        count_primes += 1
    num += 1

print("The sum of the first 10 prime numbers is: {}".format(sum_primes))

The sum of the first 10 prime numbers is: 129

# 8. Write a python program to implement arithmetic operations using nested if statement.

In [23]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

result = None

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 == 0:
        print("Error: Division by zero is not allowed.")
    else:
        result = num1 / num2
else:
    print("Invalid operation!")

if result is not None:
    print("Result: {}".format(result))

Enter the first number: 4
Enter the second number: 6
Enter the operation (+, -, *, /): *
Result: 24.0

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [24]:
celsius = float(input("Enter the temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print("The temperature in Fahrenheit is: {}°F".format(fahrenheit))

Enter the temperature in Celsius: 98.6
The temperature in Fahrenheit is: 209.48°F

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [25]:
numbers = input("Enter a list of numbers separated by spaces: ").split()

numbers = [int(num) for num in numbers]

max_num = numbers[0]
min_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

print("Maximum number: {}".format(max_num))
print("Minimum number: {}".format(min_num))

Enter a list of numbers separated by spaces: 33 4 1 55 0
Maximum number: 55
Minimum number: 0

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [26]:
days_per_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

total_seconds = days_per_month * hours_per_day * minutes_per_hour * seconds_per_minute

print("The number of seconds in a 30-day month is: {} seconds".format(total_seconds))

The number of seconds in a 30-day month is: 2592000 seconds

# 12. Write a program in python to print out the number of seconds in a year.

In [27]:
days_per_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

total_seconds = days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

print("The number of seconds in a year is: {} seconds".format(total_seconds))

The number of seconds in a year is: 31536000 seconds

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [29]:
distance_miles = 414
speed_mph = 150

travel_time_hours = distance_miles / speed_mph

print("It will take {} hours to travel from London to Glasgow.".format(travel_time_hours))

It will take 2.76 hours to travel from London to Glasgow.

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [30]:
days_in_each_school_year = 192
hours_per_day = 6

total_hours = 0
for year in range(7, 12):
    total_hours += days_in_each_school_year * hours_per_day

print("Total hours spent in school from year 7 to year 11: {} hours".format(total_hours))

Total hours spent in school from year 7 to year 11: 5760 hours

# 15. If the age of Ram Sam and Khan are input through the keyboard write a python program to determine the eldest and youngest of the three.

In [33]:
def find_eldest_and_youngest(ram_age, sam_age, khan_age):
    if ram_age >= sam_age and ram_age >= khan_age:
        eldest_name = "Ram"
    elif sam_age >= ram_age and sam_age >= khan_age:
        eldest_name = "Sam"
    else:
        eldest_name = "Khan"

    if ram_age <= sam_age and ram_age <= khan_age:
        youngest_name = "Ram"
    elif sam_age <= ram_age and sam_age <= khan_age:
        youngest_name = "Sam"
    else:
        youngest_name = "Khan"

    return eldest_name, youngest_name

ram_age = int(input("Enter the age of Ram: "))
sam_age = int(input("Enter the age of Sam: "))
khan_age = int(input("Enter the age of Khan: "))

eldest, youngest = find_eldest_and_youngest(ram_age, sam_age, khan_age)

print("The eldest among Ram, Sam, and Khan is {}.".format(eldest))
print("The youngest among Ram, Sam, and Khan is {}.".format(youngest))

Enter the age of Ram: 6
Enter the age of Sam: 2
Enter the age of Khan: 4
The eldest among Ram, Sam, and Khan is Ram.
The youngest among Ram, Sam, and Khan is Sam.

# 16. Write a python program to rotate a list by right n times with and without slicing technique.

In [40]:
#With Slicing

def rotate_right_with_slicing(arr, n):
    n = n % len(arr)
    rotated_list = arr[-n:] + arr[:-n]
    return rotated_list

my_list = [1, 2, 3, 4, 5]
rotations = int(input("Enter the number of right rotations: "))

result = rotate_right_with_slicing(my_list, rotations)
print("List after rotation using slicing:", result)

Enter the number of right rotations: 2
List after rotation using slicing: [4, 5, 1, 2, 3]

In [38]:
#Without Slicing

def rotate_right_without_slicing(arr, n):
    n = n % len(arr)
    for _ in range(n):
        arr.insert(0, arr.pop())

my_list = [1, 2, 3, 4, 5]
rotations = int(input("Enter the number of right rotations: "))

rotate_right_without_slicing(my_list, rotations)
print("List after rotation without slicing:", my_list)

Enter the number of right rotations: 3
List after rotation without slicing: [3, 4, 5, 1, 2]